<div class="row">
   <div class="container">
      <div class="logo">
        <img src="../../../assets/argpro.png" id="logoAP">
      </div>
      <div class="redes">
        <div>
            <a href=""><img src="../../../assets/lin.png" alt=""></a>  
            <a href=""><img src="../../../assets/inst.png" alt=""></a>  
            <a href=""><img src="../../../assets/git.png" alt=""></a>  
            <a href=""><img src="../../../assets/face.png" alt=""></a>  
            <button type="button" class="btn btn-outline-light">INGRESAR</button>
        </div>
      </div>
   </div>
</div>

