<div class="row">
    <h1>Hard y soft skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4"> 
      <circle-progress
         [percent]="85"
         [radius]="100"
         [imageSrc]="'../assets/html.png'"
         [showImage]="true"
         [imageHeight]="85"
         [imageWidth]="85"
         [showUnits]="false"
         [showSubtitle]="false"
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="2"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="600"
       ></circle-progress>
  
        <circle-progress
           [percent]="85"
           [radius]="100"
           [imageSrc]="'../assets/css.png'"
           [showImage]="true"
           [imageHeight]="85"
           [imageWidth]="85"
           [showUnits]="false"
           [showSubtitle]="false"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#78C000'"
           [innerStrokeColor]="'#C7E596'"
           [animation]="true"
           [animationDuration]="600"
         ></circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
           [percent]="85"
           [radius]="100"
           [imageSrc]="'../assets/git.png'"
           [showImage]="true"
           [imageHeight]="85"
           [imageWidth]="85"
           [showUnits]="false"
           [showSubtitle]="false"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#78C000'"
           [innerStrokeColor]="'#C7E596'"
           [animation]="true"
           [animationDuration]="600"
         ></circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
           [percent]="100"
           [radius]="100"
           [imageSrc]="'../assets/grupal.png'"
           [showImage]="true"
           [imageHeight]="85"
           [imageWidth]="85"
           [showUnits]="false"
           [showSubtitle]="false"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#78C000'"
           [innerStrokeColor]="'#C7E596'"
           [animation]="true"
           [animationDuration]="600"
         ></circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
           [percent]="50"
           [radius]="100"
           [imageSrc]="'../assets/hablo-inglés.jpg'"
           [showImage]="true"
           [imageHeight]="85"
           [imageWidth]="85"
           [showUnits]="false"
           [showSubtitle]="false"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#78C000'"
           [innerStrokeColor]="'#C7E596'"
           [animation]="true"
           [animationDuration]="600"
         ></circle-progress>
      </div>
</div>
