<div class="row">
    <h1>Formacion Academica</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
       <ul>
         <li><h1>Estudio 1</h1> - <h3>años estudio</h3></li><p> detallamos el trabajo que realizamosLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptas blanditiis alias repellat, hic veniam doloribus placeat aperiam consequuntur maiores ipsam perferendis necessitatibus molestiae esse tempora nisi non accusantium architecto?</p>
       </ul>
       <ul>
          <li><h1>Estudio 2</h1> - <h3>años estudio</h3></li><p> detallamos el trabajo que realizamosLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptas blanditiis alias repellat, hic veniam doloribus placeat aperiam consequuntur maiores ipsam perferendis necessitatibus molestiae esse tempora nisi non accusantium architecto?</p>
        </ul>
        <ul>
          <li><h1>Estudio 3</h1> - <h3>años estudio</h3></li><p> detallamos el trabajo que realizamosLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptas blanditiis alias repellat, hic veniam doloribus placeat aperiam consequuntur maiores ipsam perferendis necessitatibus molestiae esse tempora nisi non accusantium architecto?</p>
        </ul>
    </div>
  </div>
  
